* {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  width: 100vw;
}

main {
  width: 300px;
  padding: 2rem 1rem;
}

h1 {
  font-size: 30px;
  line-height: 2;
  text-align: center;
  color: red;
  position: sticky;
}

.jokes {
  margin: 1rem 0;
}

@media screen and (min-width: 700px) {
  main {
    width: 600px;
    padding: 2rem 1rem;
    gap: 20px
  }
}